**ASSIGNMENT 1**

In [1]:
# 1.1: WAP to print your name three times
name="samiksha"
print(name)
print(name)
print(name)

samiksha
samiksha
samiksha

In [2]:
# 2.1 WAP to add three numbers and print the result.
a=10
b=20
c=30

result=a+b+c
print(f"the sum of {a} + {b} + {c} = {result}")

the sum of 10 + 20 + 30 = 60

In [3]:
# 2.2 WAP to concatinate three strings and print the result.
str1="hello"
str2="world"
str3="2025"

print(str1+" "+str2+" "+str3)

hello world 2025

In [4]:
# 4.1: WAP to print the table of 7, 9.
n1=7
n2=9

for i in range(1,11):
  print(n1," * ",i," = ",n1*i)

print()

for i in range(1,11):
  print(n2," * ",i," = ",n2*i)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

In [5]:
# 4.2: WAP to print the table of n and n is given by user.
n=int(input("enter a number: "))
for i in range(1,11):
  print(n," * ",i," = ",n*i)

print()

enter a number: 6
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60

In [6]:
# 4.3 WAP to add all the numbers from 1 to n and n is given by user.
num=int(input("enter a num: "))

print("sum of 1 to",num,"is :",sum(range(1,num+1)))

enter a num: 25
sum of 1 to 25 is : 325

In [7]:
# 5.1: WAP to find max amoung three numbers and input from user. [Try max() function]
nums=[]
nums.append(int(input("Enter first number: ")))
nums.append(int(input("Enter second number: ")))
nums.append(int(input("Enter third number: ")))

max_num=max(nums)
print(max_num)

Enter first number: 10
Enter second number: 20
Enter third number: 30
30

In [8]:
# 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.
res=0
x=int(input("enter n: "))

for i in range(1,x+1):
  if i%7==0 and i%9==0:
    res=res+i

print(res)

enter n: 100
63

In [9]:
# 5.3: WAP to add all prime numbers from 1 to n and n is given by the user
def is_prime(num):
  if num<=1:
    return False
  for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
  return True

y=int(input("enter n: "))
sum2=0
for i in range(2,y+1):
  if is_prime(i):
    sum2=sum2+i

print(sum2)

enter n: 100
1060

In [10]:
# 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

nums=int(input("enter n : "))
odd_sum=0
for i in range(1,nums+1):
  if i%2!=0:
    odd_sum+=i

print(odd_sum)

enter n : 50
625

In [11]:
#6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

nums2=int(input("enter n: "))
prime_sum=0
for i in range(1,nums2+1):
  if is_prime(i):
    prime_sum+=i

print(prime_sum)

enter n: 30
129