**Assignment-2**

In [1]:
# Q1 Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
L=[10, 20, 30, 40, 50, 60, 70, 80]
print("Initial list L=", L)

# i. WAP to add 200 and 300 to L.
L.append(200)
L.append(300)
print("1. L=", L)

# ii. WAP to remove 10 and 30 from L.
L.remove(10)
L.remove(30)
print("2. L=", L)

# iii. WAP to sort L in ascending order.
L.sort()
print('3. L=',L)

# iv. WAP to sort L in descending order.
L.sort(reverse=True)
print('4. L=',L)

Initial list L= [10, 20, 30, 40, 50, 60, 70, 80]
1. L= [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
2. L= [20, 40, 50, 60, 70, 80, 200, 300]
3. L= [20, 40, 50, 60, 70, 80, 200, 300]
4. L= [300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
# 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
# perform the following operations using tuple functions:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print("scores =",scores)

# i. Identify the highest score and its index in the tuple.
highest_score=max(scores)
index1=scores.index(highest_score)
print("highest score =",highest_score ," index is ",index1)

# ii. Find the lowest score and count how many times it appears.
lowest_score=min(scores)
count=scores.count(lowest_score)
print("lowest score =",lowest_score ," count is ",count)

# iii. Reverse the tuple and return it as a list.
scores=scores[::-1]
score_list=list(scores)
print(score_list)

# iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.int()
s=float(input("enter score: "))
if s in scores:
  print("element found at index ",scores.index(s))
else :
  print("its not present")

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest score = 92  index is  5
lowest score = 45  count is  2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter score: 76
element found at index  5

In [3]:
# 3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
import random as random

def is_prime(num):
  if num<=1:
    return False
  for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
  return True

random_nums=[]

for i in range(100):
  random_nums.append(random.randint(100, 900))

print("list =",random_nums)

odd_nums=[]
even_nums=[]
prime_nums=[]

for i in random_nums:
  if i%2==0:
    even_nums.append(i)
  else :
    odd_nums.append(i)

  if is_prime(i):
    prime_nums.append(i)



# i. All odd numbers
print("Odd nums : ",odd_nums)
# ii. All even numbers
print("Even nums : ",even_nums)
# iii. All prime numbers
print("Prime nums : ",prime_nums)

list = [175, 381, 149, 859, 842, 882, 718, 139, 738, 703, 508, 644, 172, 313, 227, 112, 561, 415, 167, 118, 259, 768, 856, 859, 607, 420, 646, 620, 424, 760, 179, 613, 201, 813, 857, 353, 723, 821, 571, 242, 330, 878, 640, 867, 850, 239, 313, 456, 106, 661, 467, 678, 436, 435, 141, 820, 321, 774, 261, 538, 561, 469, 862, 620, 512, 403, 674, 349, 160, 182, 414, 429, 223, 101, 620, 613, 293, 421, 889, 339, 418, 239, 615, 751, 314, 304, 464, 830, 770, 421, 190, 690, 890, 338, 232, 484, 886, 733, 238, 498]
Odd nums :  [175, 381, 149, 859, 139, 703, 313, 227, 561, 415, 167, 259, 859, 607, 179, 613, 201, 813, 857, 353, 723, 821, 571, 867, 239, 313, 661, 467, 435, 141, 321, 261, 561, 469, 403, 349, 429, 223, 101, 613, 293, 421, 889, 339, 239, 615, 751, 421, 733]
Even nums :  [842, 882, 718, 738, 508, 644, 172, 112, 118, 768, 856, 420, 646, 620, 424, 760, 242, 330, 878, 640, 850, 456, 106, 678, 436, 820, 774, 538, 862, 620, 512, 674, 160, 182, 414, 620, 418, 314, 304, 464, 830, 770, 190, 690, 890, 338, 232, 484, 886, 238, 498]
Prime nums :  [149, 859, 139, 313, 227, 167, 859, 607, 179, 613, 857, 353, 821, 571, 239, 313, 661, 467, 349, 223, 101, 613, 293, 421, 239, 751, 421, 733]

In [4]:
# 4. Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
# WAP to perform the following operations using set functions:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

# i. Find the unique scores achieved by both teams (union of sets).
unique_scores=A.union(B)
print("unique score : ",unique_scores)
# ii. Identify the scores that are common to both teams (intersection of sets).
common_scores=A.intersection(B)
print("common scores : ",common_scores)

# iii. Find the scores that are exclusive to each team (symmetric difference).
exclusive_scores=A.symmetric_difference(B)
print("symmetric difference : ",exclusive_scores)

# iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
print("is A subset of B ",A.issubset(B))
print("is B a superset of A ",B.issuperset(A))

# v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.
x=int(input("enter score to remove"))
if x in A:
  A.remove(x)
  print(A)
else :
  print("its not present")

unique score :  {34, 45, 78, 23, 56, 90}
common scores :  {90, 78}
symmetric difference :  {34, 45, 23, 56}
is A subset of B  False
is B a superset of A  False
enter score to remove90
{56, 34, 78}

In [5]:
#5. Write a program to rename a key city to a locaƟon in the following dictionary.
dict1={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}

if "city" in dict1:
  dict1["location"] = dict1.pop("city")

print(dict1)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}